	

		</div><!-- /#page -->
		

			<div id="footer">
				<ul>
					<!-- <li><a href="<%= page.footer.devs.link %>"><%= page.footer.devs.text %></a><li> -->
					<li><a href="http://groups.google.com/group/api-craft">Google Group</a><li>
					<li><a href="https://github.com/apicraft">GitHub</a><li>
					<li><a href="https://twitter.com/search?q=%23apicraft&src=hash">#apicraft</a><li>
					<li><a href="http://apicraft.org/detroit2013">Detroit 2013</a><li>
					<!-- <li><a href="http://www.meetup.com/API-Craft-Detroit/">Detroit Meetup Group</a><li> -->
				</ul>	
			</div>
			<!-- /#footer -->	
	</body>
	
	
	<!-- import environment vars from node -->
	<script type="text/javascript"> window.config = { proxyUrl: "<%= proxyUrl %>" }; </script>
	
	<!-- duh -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!-- giterdone -->
	<script type="text/javascript" src="js/functions.js"></script>


</html>